<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unavailable page</title>
    <style>
        body {background-color: powderblue;}
        h1 {
        font-family:Arial, Helvetica, sans-serif;
        color:sienna;
        text-align: center;
        font-size: 9em;
        margin: 0;
        text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
        }
        h3 {
        font-family:Arial, Helvetica, sans-serif;
        font-size: 2em;
        text-transform: uppercase;
        text-align: center;
        color: gray;
        margin-top: -20px;
        font-weight: 900;
        }
        p {
        text-align: center;
        font-family:Arial, Helvetica, sans-serif;
        color:grey;
        font-size: 1em;
        margin-top: -20px;
        text-transform: uppercase;
        }
    </style>
</head>

<body>
    <div class="row">
        <h1>404</h1>
        <h3>Page not found</h3>
        <br /><p><a href='/'>Go to home page</a></p>
    </div>
</body>
</html>