<div class="row">
  <section class="main col-md-9">
    <article>
      <h2>About</h2>
      <p>I am a 2-year student from Computer Programming and Analysis program open to coop work. I am currently enrolled in WEB322(Web Programming Tools and Frameworks), OOP345(Object-Oriented Software Development Using C++), DBS311(Advanced Database Services) and SYD366(Software Analysis and Design - I).</p>
      <p>I enjoy watching ballets and musicals, visiting museums and galleries, making desserts, playing room escape with my team, spending weekends at home with my cat and rabbit, and traveling on vacation. Usually, I'm not too fond of sports, but I like mountain climbing, rowing and sometimes indoor rock climbing. Also, I'm an Oculus player, playing somatosensory games to stay healthy.</p>
      <p>Moreover, I love programming and dedicate a lot of time every week to learning and practicing and I am on the President's Honour List every semester. My goal this semester is to maintain a 4.0 GPA and find a coop that will help me learn and apply new technologies and improve my programming skills.</p>
    </article>
  </section>
  <aside class="col-md-3">
    <h2>Coming Soon</h2>
    <p>Stay tuned for future updates…</p>
  </aside>
</div>